//Components - Search
.containerSearch{
    background-color: $yellow;
    padding: 10px;
    .row{
        max-width: $mw-medium;
    }
    .inputGroup{
        display: flex;
        position: relative;
        .form{
            width: 100%;
        }
        .btnSearch{
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            &::before{
                content: "\1F50E";
            }
        }
        .formControl{
            padding-right: 40px;
            border-radius: 4px;
            box-shadow: 1px 1px 5px $gray;
            width: 100%;
            &::placeholder{
                color: $gray;
            }
        }
    }
}
