.containerItemList{
    background-color: $white;
    max-width: $mw-medium;
}

.card{
    border-bottom: 1px solid $gray;
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
    .imgItem{
        flex: 1;
    }
    .contentTextItem{
        flex: 6;
        padding-left: 30px;
        .titleItem{
            font-size: 20px;
            margin-bottom: 10px;
            cursor: pointer;
            &:hover{
                opacity: 0.7;
            }
        }
        .priceItem{
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
    
}